<h2>admin#items#index</h2>

<h2>商品一覧</h2>
<%= link_to new_admin_item_path do %>
  新規登録
<% end %>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th>商品ID</th>
      <th>商品名</th>
      <th>税抜き価格</th>
      <th>ジャンル</th>
      <th>ステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
    <tr>
      <th><%= item.id %></th>
      <th>
        <%= link_to admin_item_path(item) do %>
          <%= item.name %>
        <% end %>
      </th>
      <th><%= item.price %></th>
      <th><%= item.genre.name %></th>
      <th>
        <% if item.is_active? %>
          販売中
        <% else %>
          販売停止中
        <% end %>
      </th>
    </tr>
    <% end %>
  </tbody>
</table>