<h2>admin#items#new</h2>

<h2>商品新規登録</h2>

<%= form_with model: @item do |f| %>
    <div class="form_with">
    <label class="col-sm-3">商品画像</label>
    <label class="col-sm-9">
      <%= f.file_field :profile_image, placeholder:"プロフィール画像", accept:"image/*" %>
    </label>
    </div>

    <div class="form-group">
    <label class="col-sm-3">商品名</label>
    <label class="col-sm-9">
      <%= f.text_field :name %>
    </label>
    </div>

    <div class="form_group">
      <label class="col-sm-3">商品説明</label>
      <label class="col-sm-9">
        <%= f.text_area :introduction %>
      </label>
    </div>
    <!--<h3>ジャンル</h3>-->
      <%= form_with(model: @genre, local: true) do |f| %>
        <div class="form-group">
          <label class="col-sm-3">
            <%= f.label :genre, 'ジャンル' %>
          </label>
          <label class="col-sm-9">
            <%= f.select :genre, {'ケーキ': 1, 'クッキー': 2,}, {include_blank: '選択してください'}, {class: 'form-control' , required: true } %>
          </label>
        </div>
        </div>
      <% end %>

      <div class="form_group">
      <label class="col-sm-3">
        税抜価格
      </label>
      <label class="col-sm-9">
          <%= f.text_field :price %>円
      </label>
      </div>

      <div class="form_group">
      <label class="col-sm-3">販売ステータス</label>

          <%= form_with(model: @item, local: true) do |form| %>
            <label class="col-sm-9">
            <%= form.radio_button :status, :is_active %>
            <%= form.label :status, "販売中", {value: :is_active, style: "display: inline-block;"} %>
            <%= form.radio_button :status, :is_not_active %>
            <%= form.label :status, "販売停止中", {value: :is_not_active, style: "display: inline-block;"} %>
            </label>
          <% end %>

      </div>

    <%= f.submit '新規登録' %>
<% end %>