<h2>admin#items#show</h2>


<h2>商品詳細</h2>
    <h3>商品名</h3>
      <%= @item.name %>
    <h3>商品説明</h3>
      <%= @item.introduction %>
    <h3>ジャンル</h3>

    <h3>税込価格(税抜き価格)</h3>
      <%= @item.price*1.1 %>
      (<%= @item.price %>)
    <h3>販売ステータス</h3>
      <% if @item.is_active? %>
        販売中
      <% else %>
        販売停止中
      <% end %><br>
  <%= link_to edit_admin_item_path(@item) do %>
    編集する
  <% end %>