<h2>admin#order#show</h2>

<h2>注文履歴詳細</h2>
<table class="table table-hover table-inverse">
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>購入者</th>
      <th>
        <%= @order.customer.first_name %>
        <%= @order.customer.last_name %>
      </th>
    </tr>
    <tr>
      <th>注文日</th>
      <th><%= @order.created_at %></th>
    </tr>
    <tr>
      <th>配送先</th>
      <th>
        <%= @order.postal_code %>
        <%= @order.address %><br>
        <%= @order.name %>
      </th>
    </tr>
    <tr>
      <th>支払い方法</th>
      <th><%= @order.payment_method %></th>
    </tr>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
        <td><%= order.item.name %></td>
        <td><%= order.price %></td>
        <td><%= order.amount %></td>
        <td><%= (order.price*1.1*order.amount).floor %></td>
        <% @total += (order.price*1.1*order.amount).floor %>
    </tr>
    <% end %>
  </tbody>
</table>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>商品合計</td>
      <td><%= @total %>円</td>
    </tr>
    <tr>
      <td>送料</td>
      <td>800円</td>
    </tr>
    <tr>
      <td>請求金額合計</td>
      <td><%= @total + 800 %>円</td>
    </tr>
  </tbody>
</table>
