<h2>public#addresses#edit</h2>

<h2>配送先編集</h2>
<%= form_with model: @address, url:address_path, method: :patch do |f| %>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>郵便番号（ハイフンなし）</th>
        <th><%= f.text_field :postal_code %></th>
      </tr>
      <tr>
        <th>住所</th>
        <th><%= f.text_field :address %></th>
      </tr>
      <tr>
        <th>宛名</th>
        <th><%= f.text_field :name %></th>
      </tr>
    </tbody>
  </table>
  <%= f.submit '変更内容を保存' %>
<% end %>
