<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "public/shared/error_messages", resource: resource %>

  <table class="table table-hover table-inverse ">
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>名前</th>
        <th>
          <div class="field">
          <%=f.label :（姓） %>
          <%=f.text_field :last_name %>
          </div>
        </th>
        <th>
          <div class="field">
          <%=f.label :（名） %>
          <%=f.text_field :first_name %>
          </div>
        </th>
      </tr>
      <tr>
        <th>フリガナ</th>
        <th>
          <div class="field">
            <%=f.label :（セイ） %>
            <%=f.text_field :last_name_kana %>
          </div>
        </th>
        <th>
          <div class="field">
            <%=f.label :（メイ） %>
            <%=f.text_field :first_name_kana %>
          </div>
        </th>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <th>
          <div class="field">
            <%=f.text_field :email %>
          </div>
        </th>
        <th></th>
      </tr>
      <tr>
        <th>郵便番号（ハイフンなし）</th>
        <th>
          <div class="field">
            <%= f.text_field :postal_code, autofocus: true, autocomplete: "email" %>
          </div>
        </th>
        <th></th>
      </tr>
      <tr>
        <th>住所</th>
        <th>
          <div class="field">
            <%= f.text_field :address, autofocus: true, autocomplete: "email" %>
          </div>
        </th>
        <th></th>
      </tr>
      <tr>
        <th>電話番号（ハイフンなし）</th>
        <th>
          <div class="field">
            <%= f.text_field :telephone_number, autofocus: true, autocomplete: "email" %>
          </div>
        </th>
        <th></th>
      </tr>
      <tr>
        <th>パスワード（6文字以上）</th>
        <th>
          <div class="field">
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "new-password" %>
          </div>
        </th>
        <th></th>
      </tr>
      <tr>
        <th>パスワード（確認用）</th>
        <th>
          <div class="field">
            <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
          </div>
        </th>
        <th></th>
      </tr>
    </tbody>

  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
<% end %>

<h2>既に登録済みの方</h2>
  <%= link_to new_admin_session_path do %>
    こちら
  <% end %>
  からログインしてください

<%= render "public/shared/links" %>




















