<h2>public#order#new</h2>

<h2>注文情報入力</h2>

<%= form_with model: @order, url:orders_path, method: :post do |f| %>
  <h3>支払い方法</h3>
  <div class="form_group">
    <%= f.radio_button :payment_method, 0 %>
    <%= f.label :payment_method, "クレジットカード", {value: :payment_method, style: "display: inline-block;"} %>
    <%= f.radio_button :payment_method, 1 %>
    <%= f.label :payment_method, "銀行振り込み", {value: :payment_method, style: "display: inline-block;"} %>
  </div>
  <h3>お届け先</h3>
    <%= f.radio_button :addresses, true %>
    <%= f.label :is_active, "ご自身の住所" %>
    <%= current_customer.address %><br>

    <%= f.radio_button :addresses, false %>
    <%= f.label :is_active, "登録済み住所から選択" %>
    <%= f.collection_select(:address, current_customer.addresses, :id, :address, prompt: "選択してください") %><br>

    <%= f.radio_button :addresses, false %>
    <%= f.label :is_active, "新しいお届け先" %>
      <table>
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>郵便番号（ハイフンなし）</th>
            <th><%= f.text_field :postal_code %></th>
          </tr>
          <tr>
            <th>住所</th>
            <th><%= f.text_field :address %></th>
          </tr>
          <tr>
            <th>宛名</th>
            <th><%= f.text_field :name %></th>
          </tr>
        </tbody>
      </table>
  <%= f.submit "確認画面へ進む" %>
<% end %>

