<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= link_to "LOGO", root_path, class: 'nav-link text-dark' %>
    <% if customer_signed_in? %>
              <li class="nav-item">
                <%= link_to "商品一覧",admin_items_path, method: :get, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%=link_to '会員一覧', admin_customers_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to '注文履歴一覧', admin_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ジャンル一覧', admin_genres_path, method: :get, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to 'ログアウト', new_admin_session_path, class: 'nav-link text-dark' %>
              </li>
              <% else %>
              <li class="nav-item">
                <%=link_to "About", about_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "商品一覧", admin_items_path, method: :get,　class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_customer_registration_path, class: 'nav-link text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to "ログイン", new_admin_session_path, class: 'nav-link text-dark' %>
              </li>
              <% end %>
  </head>

  <body>
    <%= yield %>


  </body>
</html>
